<%= form_for(@mem) do |f| %>
  <% if @mem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mem.errors.count, "error") %> prohibited this mem from being saved:</h2>

      <ul>
      <% @mem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :question %><br>
    <%= f.text_field :question, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :answer %><br>
    <%= f.text_field :answer, class: "form-control" %>

  </div>
  <div class="gorm-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
