<h2>Here are your mems, yo</h2>

<div class="table-responsive">
<table class="table table-hover" class="">
  <thead>
    <tr>
      <th>Question</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mems.each do |mem| %>
      <tr>
        <td><%= mem.question %></td>
        <strong><td><%= mem.user.email if mem.user %></td><strong>
        <td><%= link_to 'Answer', mem %></td><br>
        <% if mem.user == current_user %>
        <div class="actions">
          <td><%= link_to 'Edit', edit_mem_path(mem) %></td>
          <td><%= link_to 'Delete', mem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
        <% end -%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>


<% if user_signed_in? %>
  <%= link_to 'New Mem', new_mem_path %>
<% end %>