<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong><br>
  <%= @mem.question %>
</p>

<p>
  <strong>Answer:</strong><br>
  <%= @mem.answer %>
</p>

<% if @mem.user == current_user %>
	<%= link_to 'Edit', edit_mem_path(@mem) %> |
<% end %>
<%= link_to 'Back', mems_path %> 