<nav class="navbar navbar-static navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Memknow</a> <!-- make this link back to home page -->
</button> 
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse"> 
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", about_path%></a></li>  
        <li><%= link_to "Blog", blog_path%></a></li>
       <% if user_signed_in? %>
        <li>
            <%= link_to new_mem_path do %>
              <span class="glyphicon glyphicon-plus"></span>Mem 
            <% end %>
        </li>
        <li>
            <%= link_to edit_user_registration_path do %>
              <span class="glyphicon glyphicon-user"></span>
            <% end %>
        </li>
        <li>
            <%= link_to destroy_user_session_path method: :delete do %>
              <span class="glyphicon glyphicon-off"></span>
            <% end %>
        </li>
        <% else %>
          <li><%= link_to "Sign in/up", new_user_session_path %></li>
        <% end %>
    </ul>
    </div><!-- /.navbar-collapse -->
</nav>

